* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
}
/* body.home {
  background: red;
}
body.about {
  background: pink;
} */
